@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: x-large;
  font-synthesis-position: center;
  font-style:initial;
}

header {
  border: 30%;
  margin-right: 20%;
  margin-left: 20%;
  padding-inline: 10%;
  padding-top: 5%;
  height: 400px;
  width: 70%;
  background-color: rgb(237, 241, 241);
  font-display: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("images/todos.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat, repeat-x;
  background-position: 50% 100%; 
  @media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }

}